@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  background-color: #000;
  color: #fff;
  background-image: url("../img/bg-img-2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container-left {
  padding: 25px 15px 100px;
  width: 50vw;
  border-right: 2px solid #b1b1b15e;
  min-height: 100vh;
}

.title-1 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.films {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.film-card {
  padding-bottom: 15px;
  width: 200px;
  border-radius: 6px;
  background-color: rgb(22, 22, 22);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.7;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.film-card:hover {
  opacity: 1;
  transform: translateY(-10px);
}

.film-card__image {
  margin-bottom: 15px;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.film-card__title {
  padding: 0 5px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
}

.film-card__year {
  margin-bottom: 5px;
  color: rgb(163 157 183);
  font-size: 14px;
  font-weight: 300;
}

.film-card__rating {
  font-size: 14px;
  color: rgb(163 157 183);
}

.show-more {
  display: block;
  border-radius: 6px;
  background-color: rgb(83 11 77);
  color: #fff;
  padding: 10px 30px;
  transition: opacity 0.2s ease-in;
  margin: 0 auto;
  opacity: 0.7;
}

.show-more:hover {
  opacity: 1;
}

/* loader */

.loader-wrapper {
  text-align: center;
  padding: 20px 0;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(83 11 77);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* close */

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #d8d8d8;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.container-right {
  width: 40vw;
  position: fixed;
  left: 50vw;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  border-right: 2px solid #b1b1b15e;
  background-color: rgba(7, 22, 88, 0.616);
  padding: 25px;
}

/* movie details */

.movie {
  display: grid;
  grid-template-areas: "title title" "image desc";
  gap: 30px;
}

.movie__title {
  grid-area: title;
  font-size: 28px;
  font-weight: 300;
}

.movie__img {
  grid-area: image;
}

.movie__cover {}

.movie__desc {
  grid-area: desc;
}

.movie__detail {
  color: rgb(163 157 183);
}

.movie__text {
  margin-top: 30px;
  font-weight: 300;
}
